<header>
  <nav>
      <div class="title-container">
          <img class="icon" src="images/discord-icon.png" alt="Discord Icon">
          <h1>Covid Data Bot Interface</h1>
      </div>
      <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="/region/all">Restrictions</a></li>
          <li><a href = "/howto"> Install Bot</a></li>
      </ul>
  </nav>
</header>