<br>
<div class = "content"> 
    <div class = "item">
        <ol>
            <li class = "howto">Login to discord if you have not done so yet</li>
            <li class = "howto"><a class = "howto" href = "https://discord.com/oauth2/authorize?client_id=837409839772336158&permissions=536996864&scope=bot">Please click on this text to go to the link</a></li>
            <li class = "howto">Ensure you have the permission to install the bot, by have "Manage Server"</li>
            <li class = "howto">Under "Add to Server", choose the server you will like to put CovidData Bot in </li>
            <img class = "image" src="images/server.JPG">
            <li class = "howto">Have all of the checkboxes marked, and click "Authorize"</li>
            <img class = "image" src = "images/authorize.JPG">
            <li class = "howto">If you go to chat you should be able to see the Bot on the right</li>
            <img class = "image" src = "images/discord.JPG">
            <li class = "howto">Congratulations! You have successfully installed CovidData Bot</li>
        </ol>
    
    </div>
    
</div>
