<ul>
    <div class="restrict-button-cont"> 
        <button type="button" class="add-restriction" onclick="document.location='add'">Add Restriction</button>
    </div>
    <!-- h1 moved down for CSS layout display formatting -->
    <h1 class="reg-restrictions-h1">Regional Restrictions</h1> 
<% regions.forEach(region => { %>
    <li> <a href="edit/<%= region.id%>"><%=region.name%></a></li>
<%});%>
</ul>