<ul>
    <!-- h1 moved down for CSS layout display formatting -->
    <h1>Regional Restrictions</h1> 
<% regions.forEach(region => { %>
    <li> <a href="edit/<%= region.id%>"><%=region.name%></a></li>
<%});%>
</ul>