*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
}

body {
  background-color: #2E6F95;
  color: #FFFFFF;
}


a {
  color: inherit;
  text-decoration: inherit;
}

header {
  grid-area: header;
  display:flex;
  width: 100vw;
}

.container {
  margin-left:0;
  display: grid;
  min-height: 100vh;
  grid-template-rows:  auto 1fr 1rem;
  grid-template-columns: auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.icon {
  margin-top: 15px;
  width: 150px;
  height: auto;
}

img {
  vertical-align: top;
}

footer{
  grid-area: footer;
}

nav {
  width: 100vw;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px;
}

.title-container {
  display: flex;
  align-items:flex-end;
  padding-left: 1em;
}

.title-container h1{
  padding-left: 1rem;
  padding-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
}

.nav-list {
  display: flex;    
  align-self: flex-end;
  margin-left: auto;
  padding-bottom: 10px;
  padding-right: 1em;
}



li {
  list-style: none;
  padding: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 32px;
  flex: 0 0 200px;
  margin-left: 10px;
}

footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
}

footer span{
    font-size: 0.8em;
}

textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 700px;
  font-size: 24px;
}

.content {
  margin-top: 1rem;
  margin-left: 1rem;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #FFFFFF;
  outline: inherit;
  color: #2E6F95;
  border: none;
  border-radius: 10px;
}


li:hover {
  cursor: pointer;
  color: #2E6F95;
  background-color: #FFFFFF;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color:#fffdf0;
}

h1 {
  margin-left: 10px;
  margin-top: 10px;
}